<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450587321035-5ies2qnc48r7q0dfaqoh2jbsp8314t8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450587321035-5ies2qnc48r7q0dfaqoh2jbsp8314t8b</string>
	<key>API_KEY</key>
	<string>AIzaSyCF6pOe2l82_PlpQOP4r3SL7RgdXGp9pkc</string>
	<key>GCM_SENDER_ID</key>
	<string>450587321035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash.VisualAssistant</string>
	<key>PROJECT_ID</key>
	<string>assignment3-7cbb8</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment3-7cbb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450587321035:ios:6622444d81ea3a1d29b14e</string>
	<key>DATABASE_URL</key>
	<string>https://assignment3-7cbb8.firebaseio.com</string>
</dict>
</plist>